// Fonts

$rr: 'RobotoRegular', sans-serif;
$rm: 'RobotoMedium', sans-serif;
$rb: 'RobotoBold', sans-serif;

// Colors
$orange: #ee7023;
$blue: #313484;
$black: #000;
$white: #fff;
$text: #80909c;
$title-color: #3c434d;

// $gutter: 30px;

//Size screen

$media1400: 1400px;
$media1250: 1250px;
$media1200: 1200px;
$media1100: 1100px;
$media1024: 1024px;
$media900: 900px;
$media768: 768px;
$media640: 640px;
$media600: 600px;
$media480: 480px;
$media375: 480px;
$media360: 360px;


$animation-speed: 0.3s;
