<div class="container-fluid">
    <div class="main-footer__navigation">
        <div class="main-footer__logo">
            <a href="#" class="footer-logo" aria-label="Delve 2">
                <img src="%=static=%img/general/logo.png" alt="Delve 2">
            </a>
        </div>
        <div class="main-footer__menu">
            <div class="main-footer__menu-item">
                <h3 class="main-footer__menu-title main-footer__title">Information</h3>
                <ul class="main-footer__menu-list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Wholesale</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
            <div class="main-footer__menu-item main-footer__menu-products">
                <h3 class="main-footer__menu-title main-footer__title">production</h3>
                <ul class="main-footer__menu-list">
                    <li><a href="#">Screws</a></li>
                    <li><a href="#">Technical aerosols</a></li>
                    <li><a href="#">Fasteners (cables, chains)</a></li>
                    <li><a href="#">Industrial paper</a></li>
                    <li><a href="#">Work gloves</a></li>
                    <li><a href="#">Nuts and washers</a></li>
                </ul>
            </div>
        </div>
        <div class="main-footer__contacts">
            <h3 class="main-footer__title">Contacts</h3>
            <a href="tel:37167421288" class="main-footer__phone" target="_blank" rel="nofollow">+371 67421288</a>
            <a href="mailto:" class="main-footer__mail" target="_blank" rel="nofollow">info@delve2.lv</a>
        </div>
    </div>
</div>
<div class="main-footer__meta">
    <div class="container-fluid">
        <div class="main-footer__meta-inner">
            <div class="copyright">© 2018 Delve 2 sia. All rights reserved.</div>
            <div class="developed">
                <span>Developed:</span>
                <a href="#" target="_blank" rel="nofollow">Clarus</a>
            </div>
        </div>
    </div>
</div>
