<div class="retail">
    <div class="container-fluid">
        <div class="retail__list">
            <div class="retail__item">
                <div class="retail__thumb">
                    <img src="%=static=%img/content/retail/1.jpg" alt="alt">
                </div>
                <div class="retail__content">
                    <div class="retail__header">
                        <h3 class="retail__title">Retail</h3>
                        <a href="#" target="_blank" rel="nofollow" class="retail__map-link">View on map</a>
                    </div>
                    <div class="retail__contacts">
                        <div class="retail__address">
                            <span>Mellužu 15-4,</span><br>
                            <span>Riga, LV-1067</span>
                        </div>
                        <div class="retail__link">
                            <span>Mob.phone: <a href="tel:+37129100071" class="retail__phone">+371 29100071</a></span><br>
                            <span><a href="mailto:veikals.abava@delve2.lv" class="retail__mail">veikals.abava@delve2.lv</a></span>
                        </div>
                        <div class="retail__open">
                            <span>Open: <span>Mon.-  Fr.: 08:00-18:00</span></span><br>
                            <span>Sat. - Sun.: closed</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="retail__item">
                <div class="retail__thumb">
                    <img src="%=static=%img/content/retail/2.jpg" alt="alt">
                </div>
                <div class="retail__content">
                    <div class="retail__header">
                        <h3 class="retail__title">Ventspils</h3>
                        <a href="#" target="_blank" rel="nofollow" class="retail__map-link">View on map</a>
                    </div>
                    <div class="retail__contacts">
                        <div class="retail__address">
                            <span>Mellužu 15-4,</span><br>
                            <span>Riga, LV-1067</span>
                        </div>
                        <div class="retail__link">
                            <span>Mob.phone: <a href="tel:+37129100071" class="retail__phone">+371 29100071</a></span><br>
                            <span><a href="mailto:veikals.abava@delve2.lv" class="retail__mail">veikals.abava@delve2.lv</a></span>
                        </div>
                        <div class="retail__open">
                            <span>Open: <span>Mon.-  Fr.: 08:00-18:00</span></span><br>
                            <span>Sat. - Sun.: closed</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="retail__item">
                <div class="retail__thumb">
                    <img src="%=static=%img/content/retail/2.jpg" alt="alt">
                </div>
                <div class="retail__content">
                    <div class="retail__header">
                        <h3 class="retail__title">Daugavpils</h3>
                        <a href="#" target="_blank" rel="nofollow" class="retail__map-link">View on map</a>
                    </div>
                    <div class="retail__contacts">
                        <div class="retail__address">
                            <span>Mellužu 15-4,</span><br>
                            <span>Riga, LV-1067</span>
                        </div>
                        <div class="retail__link">
                            <span>Mob.phone: <a href="tel:+37129100071" class="retail__phone">+371 29100071</a></span><br>
                            <span><a href="mailto:veikals.abava@delve2.lv" class="retail__mail">veikals.abava@delve2.lv</a></span>
                        </div>
                        <div class="retail__open">
                            <span>Open: <span>Mon.-  Fr.: 08:00-18:00</span></span><br>
                            <span>Sat. - Sun.: closed</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="retail__item">
                <div class="retail__thumb">
                    <img src="%=static=%img/content/retail/2.jpg" alt="alt">
                </div>
                <div class="retail__content">
                    <div class="retail__header">
                        <h3 class="retail__title">Riga</h3>
                        <a href="#" target="_blank" rel="nofollow" class="retail__map-link">View on map</a>
                    </div>
                    <div class="retail__contacts">
                        <div class="retail__address">
                            <span>Mellužu 15-4,</span><br>
                            <span>Riga, LV-1067</span>
                        </div>
                        <div class="retail__link">
                            <span>Mob.phone: <a href="tel:+37129100071" class="retail__phone">+371 29100071</a></span><br>
                            <span><a href="mailto:veikals.abava@delve2.lv" class="retail__mail">veikals.abava@delve2.lv</a></span>
                        </div>
                        <div class="retail__open">
                            <span>Open: <span>Mon.-  Fr.: 08:00-18:00</span></span><br>
                            <span>Sat. - Sun.: closed</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="retail__item">
                <div class="retail__thumb">
                    <img src="%=static=%img/content/retail/2.jpg" alt="alt">
                </div>
                <div class="retail__content">
                    <div class="retail__header">
                        <h3 class="retail__title">Liepaja</h3>
                        <a href="#" target="_blank" rel="nofollow" class="retail__map-link">View on map</a>
                    </div>
                    <div class="retail__contacts">
                        <div class="retail__address">
                            <span>Mellužu 15-4,</span><br>
                            <span>Riga, LV-1067</span>
                        </div>
                        <div class="retail__link">
                            <span>Mob.phone: <a href="tel:+37129100071" class="retail__phone">+371 29100071</a></span><br>
                            <span><a href="mailto:veikals.abava@delve2.lv" class="retail__mail">veikals.abava@delve2.lv</a></span>
                        </div>
                        <div class="retail__open">
                            <span>Open: <span>Mon.-  Fr.: 08:00-18:00</span></span><br>
                            <span>Sat. - Sun.: closed</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="retail__item">
                <div class="retail__thumb">
                    <img src="%=static=%img/content/retail/2.jpg" alt="alt">
                </div>
                <div class="retail__content">
                    <div class="retail__header">
                        <h3 class="retail__title">Riga</h3>
                        <a href="#" target="_blank" rel="nofollow" class="retail__map-link">View on map</a>
                    </div>
                    <div class="retail__contacts">
                        <div class="retail__address">
                            <span>Mellužu 15-4,</span><br>
                            <span>Riga, LV-1067</span>
                        </div>
                        <div class="retail__link">
                            <span>Mob.phone: <a href="tel:+37129100071" class="retail__phone">+371 29100071</a></span><br>
                            <span><a href="mailto:veikals.abava@delve2.lv" class="retail__mail">veikals.abava@delve2.lv</a></span>
                        </div>
                        <div class="retail__open">
                            <span>Open: <span>Mon.-  Fr.: 08:00-18:00</span></span><br>
                            <span>Sat. - Sun.: closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
