<div class="hero">
    <picture>
        <source srcset="%=static=%img/content/main-page/main-hero_bg.webp" type="image/webp">
        <img src="%=static=%img/content/main-page/main-hero_bg.jpg" class="hero__thumb bg-thumb" alt="alt">
    </picture>
    <div class="container-fluid">
        <div class="hero__inner">
            <h1 class="hero__title">
                <span>SCREWS</span>
                <span>WIRE ROPES</span>
                <span>FASTENERS</span>
                <span>TOOLS</span>
            </h1>
        </div>
    </div>
</div>
