<header class="main-header">
    <div class="container-fluid">
        <div class="main-header__inner">
            <a href="#" class="logo" aria-label="Delve 2">
                <img src="%=static=%img/general/logo.png" alt="Delve 2">
            </a>
            <a href="tel:+37167421288" class="main-header__phone">+371 67421288</a>
            <div class="lang lang_desktop">
                <button type="button" class="lang__btn">EN</button>
                <ul class="lang__list">
                    <li><a href="#">RU</a></li>
                    <li><a href="#">LV</a></li>
                </ul>
            </div>
            <ul class="main-header__menu">
                <li class="active">
                    <a href="#" class="main-header__menu-item"> ABOUT US</a>
                </li>
                <li>
                    <a href="#" class="main-header__menu-item">PARTNERS</a></li>
                <li class="main-header__menu-row submenu">
                    <a href="#" class="main-header__menu-item arrow-icon">PRODUCTS</a>
                    <ul class="main-header__submenu">
                        <li>
                            <a href="#">
                                <span class="main-header__submenu-icon icon-1"></span>
                                <span class="main-header__submenu-label">Screws</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="main-header__submenu-icon icon-2"></span>
                                <span class="main-header__submenu-label">Fasteners</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="main-header__submenu-icon icon-3"></span>
                                <span class="main-header__submenu-label">Work gloves</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="main-header__submenu-icon icon-4"></span>
                                <span class="main-header__submenu-label">Technical aerosols</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="main-header__submenu-icon icon-5"></span>
                                <span class="main-header__submenu-label">ndustrial paper</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="main-header__submenu-icon icon-6"></span>
                                <span class="main-header__submenu-label">Nuts and washers</span>
                            </a>
                        </li>
                    </ul>

                </li>
                <li class="main-header__menu-column submenu">
                    <a href="#" class="main-header__menu-item">WHOLESALE</a>
                    <ul class="main-header__submenu">
                        <li>
                            <a href="#">Screws</a>
                        </li>
                        <li>
                            <a href="#">Fasteners </a>
                        </li>
                        <li>
                            <a href="#">Work gloves</a>
                        </li>
                        <li>
                            <a href="#">Technical aerosols </a>
                        </li>
                        <li>
                            <a href="#">ndustrial paper</a>
                        </li>
                        <li>
                            <a href="#">Nuts and washers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="main-header__menu-item">CONTACTS</a>
                </li>
            </ul>
            <a href="#" class="cart-link">
                <span class="cart-link__counter">12</span>
            </a>
            <button class="menu-btn" aria-label="Menu"></button>
        </div>
    </div>
</header>
<div class="lang lang_mobile">
    <div class="container-fluid">
        <div class="lang__inner">
            <a href="#" class="lang__item current">EN</a>
            <a href="#" class="lang__item">RU</a>
            <a href="#" class="lang__item">LV</a>
        </div>
    </div>
</div>
