<div class="product">
    <div class="container-fluid">
        <div class="product__content">
            <ul class="product__title-line table-header">
                <li>
                    <span class="table-header__label">Show on page:</span>
                    <select name="page">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                </li>
                <li>
                    <span class="table-header__label">Show All:</span>
                    <span class="table-header__value">274 units</span>
                </li>
                <li>
                    <span class="table-header__label">Displaying (1-10)</span>
                </li>
            </ul>

            <ul class="product__header">
                <li>ARTICLE</li>
                <li>DESCRIPTION</li>
                <li>Ø,MM</li>
                <li>L,MM</li>
                <li>PACK</li>
                <li>QUANTITY</li>
                <li>PRICE</li>
            </ul>

            <div class="product__list">
                <ul class="product__item">
                    <li>FOR-1480-10 H/H</li>
                    <li>WING SCREWS, M4X10, ZN</li>
                    <li data-title="Ø,mm:">4</li>
                    <li data-title="L,mm:">10</li>
                    <li data-title="Pack:">100</li>
                    <li data-title="Quantity:"><input type="number" class="quantity"></li>
                    <li data-title="Price:">1500$</li>
                    <li>
                        <button type="button" class="add-cart"></button>
                    </li>
                </ul>
                <ul class="product__item">
                    <li>DIN 316</li>
                    <li>WING SCREWS, M4X10, ZN</li>
                    <li data-title="Ø,mm:">4</li>
                    <li data-title="L,mm:">20</li>
                    <li data-title="Pack:">100</li>
                    <li data-title="Quantity:"><input type="number" class="quantity"></li>
                    <li data-title="Price:">1500$</li>
                    <li>
                        <button type="button" class="add-cart"></button>
                    </li>
                </ul>
                <ul class="product__item">
                    <li>DIN 316</li>
                    <li>WING SCREWS, M4X25, ZN</li>
                    <li data-title="Ø,mm:">4</li>
                    <li data-title="L,mm:">25</li>
                    <li data-title="Pack:">100</li>
                    <li data-title="Quantity:"><input type="number" class="quantity"></li>
                    <li data-title="Price:">1500$</li>
                    <li>
                        <button type="button" class="add-cart"></button>
                    </li>
                </ul>
                <ul class="product__item">
                    <li>DIN 316</li>
                    <li>WING SCREWS, M5X10, ZN</li>
                    <li data-title="Ø,mm:">5</li>
                    <li data-title="L,mm:">10</li>
                    <li data-title="Pack:">100</li>
                    <li data-title="Quantity:"><input type="number" class="quantity"></li>
                    <li data-title="Price:">1500$</li>
                    <li>
                        <button type="button" class="add-cart"></button>
                    </li>
                </ul>
                <ul class="product__item">
                    <li>DIN 316</li>
                    <li>WING SCREWS, M5X12, ZN</li>
                    <li data-title="Ø,mm:">5</li>
                    <li data-title="L,mm:">12</li>
                    <li data-title="Pack:">100</li>
                    <li data-title="Quantity:"><input type="number" class="quantity"></li>
                    <li data-title="Price:">1500$</li>
                    <li>
                        <button type="button" class="add-cart"></button>
                    </li>
                </ul>
                <ul class="product__item">
                    <li>DIN 316</li>
                    <li>WING SCREWS, M5X16, ZN</li>
                    <li data-title="Ø,mm:">5</li>
                    <li data-title="L,mm:">16</li>
                    <li data-title="Pack:">100</li>
                    <li data-title="Quantity:"><input type="number" class="quantity"></li>
                    <li data-title="Price:">1500$</li>
                    <li>
                        <button type="button" class="add-cart"></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
