.shopping {
    &__header {
        display: none;
        @include media_interval($media768, 0) {
            display: flex;
            margin: 46px 0 20px;
            padding: 0;
            list-style: none;
            border-bottom: 3px solid $orange;
            font-family: $rb;
            @include font-size(14px, 18px);
            text-transform: uppercase;
            color: $title-color;
        }

        li {
            display: none;
            padding: 10px 10px 6px 0;
            @include media_interval($media768, 0) {
                display: block;
            }


            &:nth-child(1) {
                @include media_interval($media768, $media1024) {
                    width: 22%;
                    padding-left: 35px;
                }
                @include media_interval($media1024, 0) {
                    width: 15%;
                    padding-left: 33px;
                }
            }

            &:nth-child(2) {
                @include media_interval($media768, 0) {
                    width: 38%;
                }
                @include media_interval($media768, $media1024) {
                    width: 34%;
                }
                @include media_interval($media1024, 0) {
                    width: 52%;
                }
            }

            &:nth-child(3) {
                width: 13%;
                @include media_interval($media1024, 0) {
                    width: 8.5%;
                }
            }

            &:nth-child(4) {
                @include media_interval($media768, $media1024) {
                    width: 11%;
                }
                width: 9%;
            }

            &:nth-child(5) {
                width: 8%;
                @include media_interval($media768, $media1024) {
                    width: 10%;
                }
            }

            &:nth-child(6) {
                width: 70px;
                margin-left: auto;
                padding-right: 0;
            }
        }
    }

    &__content {
        @include media_interval(0, $media768) {
            margin-top: 60px;
        }
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 10px 0;
        padding: 0;
        list-style: none;
        font-family: $rb;
        @include font-size(14px, 18px);
        text-transform: uppercase;
        color: $title-color;
        background-color: $white;
        transition: box-shadow $animation-speed;
        @include media_interval($media1024, 0) {
            &:hover {
                box-shadow: 0px 5px 10px 0px rgba(128, 144, 156, 0.3);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        li {
            display: flex;
            align-items: center;
            @include media_interval($media640, 0) {
                min-height: 60px;
                padding: 10px 10px 10px 0;
            }

            &:nth-child(1) {
                color: $text;

                width: 26%;
                padding-left: 35px;
                @include media_interval(0, $media768) {
                    justify-content: center;
                    width: 100%;
                    padding: 27px 10px 5px;
                }
                @include media_interval($media768, $media1024) {
                    width: 22%;
                }
                @include media_interval($media1024, 0) {
                    width: 15%;
                    padding-left: 33px;
                }
            }

            &:nth-child(2) {
                width: 38%;
                @include media_interval(0, $media768) {
                    justify-content: center;
                    width: 100%;
                    padding: 8px 10px 30px;
                    border-bottom: 1px solid #dddddd;
                }
                @include media_interval($media768, $media1024) {
                    width: 34%;
                }
                @include media_interval($media1024, 0) {
                    width: 52%;
                }
            }

            &:nth-child(3) {
                position: relative;
                width: 13%;
                padding-right: 6%;
                @include media_interval(0, $media768) {
                    width: 33%;
                    padding: 27px 12% 23px 20px;
                }

                @include media_interval($media1024, 0) {
                    width: 8.5%;
                    padding-right: 4%;
                }

                &:before {
                    content: 'x';
                    position: absolute;
                    top: 50%;
                    right: 26%;
                    transform: translateY(-50%);
                    font-family: $rb;
                    @include font-size(10px, 10px);
                    color: inherit;
                    @include media_interval(400px, 0) {
                        right: 34%;
                    }
                }
            }

            &:nth-child(4) {
                @include media_interval(0, $media768) {
                    width: 28%;
                    padding: 10px 10px 10px 0;
                }
                @include media_interval($media768, $media1024) {
                    width: 11%;
                }
                width: 9%;
            }

            &:nth-child(5) {
                width: 21%;
                @include media_interval($media768, $media1024) {
                    width: 10%;
                }
                @include media_interval($media1024, 0) {
                    width: 8%;
                }
            }


            &:last-child {
                align-self: stretch;
                flex-shrink: 0;
                padding: 0;
                width: 50px;
                margin-left: auto;
                @include media_interval($media768, 0) {
                    width: 70px;
                }
                //}
            }
        }
    }

}

.remove-cart {
    position: relative;
    align-self: stretch;
    width: 100%;
    border: none;
    background-color: transparent;
    transition: background-color $animation-speed;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 18px;
        height: 2px;
        background-color: $orange;
        transition: background-color $animation-speed;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    @include media_interval($media1024, 0) {
        &:hover {
            background-color: $orange;

            &:before,
            &:after {
                background-color: $white;
            }
        }
    }
}

.checkout-btn {
    min-width: 170px;
    min-height: 50px;
    @include media_interval($media640, 0) {
        margin-left: 25px;
    }
}

.fancybox-close-small {
    width: 40px;
    height: 40px;
    transition: background-color $animation-speed;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 18px;
        height: 2px;
        background-color: $orange;
        transition: background-color $animation-speed;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    @include media_interval($media1024, 0) {
        &:hover {
            background-color: $orange;

            &:before,
            &:after {
                background-color: $white;
            }
        }
    }

    svg {
        display: none;
    }
}

.fancybox-bg {
    background-color: rgba(39, 40, 46, 0.6);
}
