<div class="contacts-form">
    <div class="container-fluid">
        <form action="/" class="form">
            <div class="form__inner">
<h2 class="form__title">SEND US YOUR QUESTION OR MESSAGE</h2>
            <div class="form__content">
                <div class="form__column">
                    <input type="text" name="Company name" placeholder="Company name" class="form__field">
                    <input type="text" name="Contact person" placeholder="Contact person" class="form__field error">
                    <input type="text" name="Phone" placeholder="Phone" class="form__field">
                    <input type="email" name="Email" placeholder="Email address *" class="form__field" required>
                </div>
                <div class="form__column">
                    <textarea name="Message" placeholder="Your message" class="form__field"></textarea>
                </div>
            </div>
            <div class="form__footer">
                <div class="form__error">Enter a contact person</div>
                <button type="submit" class="form__btn btn btn_no-bg">send message</button>
            </div>
            </div>
        </form>
    </div>
</div>
