<div class="products">
    <div class="container-fluid">
        <h2 class="products__title title-h2">Products</h2>
        <ul class="products__list">
            <li class="products__item">
                <a href="#" class="products__link">
                    <span class="products__thumb">
                        <img src="%=static=%img/content/main-page/dlv1.jpg" alt="alt">
                    </span>
                    <span class="products__link-title">Screws</span>
                </a>
            </li>
            <li class="products__item">
                <a href="#" class="products__link">
                    <span class="products__link-title">Nuts and washers</span>
                    <span class="products__thumb">
                        <img src="%=static=%img/content/main-page/dlv2.jpg" alt="alt">
                    </span>
                </a>
            </li>
            <li class="products__item">
                <a href="#" class="products__link">
                    <span class="products__link-title">Fasteners</span>
                    <span class="products__thumb">
                        <img src="%=static=%img/content/main-page/dlv3.jpg" alt="alt">
                    </span>
                </a>
            </li>
            <li class="products__item">
                <a href="#" class="products__link">
                    <span class="products__link-title">Technical aerosols</span>
                    <span class="products__thumb">
                        <img src="%=static=%img/content/main-page/dlv4.jpg" alt="alt">
                    </span>
                </a>
            </li>
            <li class="products__item">
                <a href="#" class="products__link">
                    <span class="products__link-title">Industrial paper</span>
                    <span class="products__thumb">
                        <img src="%=static=%img/content/main-page/dlv5.jpg" alt="alt">
                    </span>
                </a>
            </li>
            <li class="products__item">
                <a href="#" class="products__link">
                    <span class="products__link-title">Work gloves</span>
                    <span class="products__thumb">
                        <img src="%=static=%img/content/main-page/dlv6.jpg" alt="alt">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
