<div class="category">
    <div class="container-fluid">
        <div class="category__content">
            <ul class="category__header table-header">
                <li>
                    <span class="table-header__label">Show on page:</span>
                    <select name="page">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                </li>
                <li>
                    <span class="table-header__label">Show All:</span>
                    <span class="table-header__value">48 units</span>
                </li>
                <li>
                    <span class="table-header__label">Group:</span>
                    <select name="group">
                        <option value="Screws with metric thread">Screws with metric thread</option>
                        <option value="Screws with metric thread-2">Screws with metric thread-2</option>
                        <option value="Screws with metric thread-3">Screws with metric thread-3</option>
                        <option value="Screws with metric thread-4">Screws with metric thread-4</option>
                    </select>
                </li>
            </ul>
            <ul class="category__list">
                <li class="category__item">
                    <a href="#" class="category__link">
                        <span class="category__thumb">
                            <img src="%=static=%img/content/category/category-1.jpg" alt="alt">
                        </span>
                        <span class="category__id">DIN 316</span>
                        <span class="category__title">WING SCREWS</span>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">
                        <span class="category__thumb">
                            <img src="%=static=%img/content/category/category-2.jpg" alt="alt">
                        </span>
                        <span class="category__id">DIN 444</span>
                        <span class="category__title">SWIVEL BOLTS (EYE BOLTS)</span>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">
                        <span class="category__thumb">
                            <img src="%=static=%img/content/category/category-3.jpg" alt="alt">
                        </span>
                        <span class="category__id">DIN 464</span>
                        <span class="category__title">KNURLED THUMB SCREWS WITH COLLAR</span>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">
                        <span class="category__thumb">
                            <img src="%=static=%img/content/category/category-4.jpg" alt="alt">
                        </span>
                        <span class="category__id">DIN 478</span>
                        <span class="category__title">SQUARE HEAD BOLTS WITH COLLAR</span>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">
                        <span class="category__thumb">
                            <img src="%=static=%img/content/category/category-5.jpg" alt="alt">
                        </span>
                        <span class="category__id">DIN 479</span>
                        <span class="category__title">SQUARE HEAD BOLTS WITH HALF DOG POINTS</span>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">
                        <span class="category__thumb">
                            <img src="%=static=%img/content/category/category-6.jpg" alt="alt">
                        </span>
                        <span class="category__id">DIN 480</span>
                        <span class="category__title">SQUARE HEAD BOLTS WITH COLLAR, HALF DOG POINTS AND ROUNDED END</span>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">
                        <span class="category__thumb">
                            <img src="%=static=%img/content/category/category-7.jpg" alt="alt">
                        </span>
                        <span class="category__id">DIN 529</span>
                        <span class="category__title">MASONRY BOLTS (FOUNDATION BOLTS)</span>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">
                        <span class="category__thumb">
                            <img src="%=static=%img/content/category/category-8.jpg" alt="alt">
                        </span>
                        <span class="category__id">DIN 558</span>
                        <span class="category__title">HEXAGON SCREWS</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
