<div class="product-hero">
    <div class="container-fluid">
        <div class="product-hero__inner">
            <div class="product-hero__thumb">
                <a href="%=static=%img/content/product/product.jpg" class="gallery">
                <img src="%=static=%img/content/product/product.jpg" alt="alt">
                </a>
            </div>
            <h1 class="product-hero__title">BULTSKRŪVE AR ZEMO GREMDGALVU UN KVADRĀTA PAGALVI <br>
                DIN 608</h1>
            <div class="product-hero__btn">
                <a href="#" class="btn btn_no-bg">Back to category</a>
            </div>
        </div>
    </div>
</div>
