<div class="pagination">
    <div class="container-fluid">
        <div class="pagination__inner">
            <ul class="pagination__list">
                <li class="pagination__item pagination-prev">
                    <a href="#"></a>
                </li>
                <li class="pagination__item active">
                    <a href="#">1</a>
                </li>
                <li class="pagination__item">
                    <a href="#">2</a>
                </li>
                <li class="pagination__item">
                    <a href="#">3</a>
                </li>
                <li class="pagination__item">
                    <a href="#">4</a>
                </li>
                <li class="pagination__item">
                    ...
                </li>
                <li class="pagination__item">
                    <a href="#">200</a>
                </li>
                <li class="pagination__item pagination-next">
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
