<div class="search">
    <div class="container-fluid">
        <div class="search__inner">
        <button type="button" class="search__title">PRODUCT SEARCH</button>
        <form class="search__form">
            <div class="search__form-column">
                <div class="search__form-item">
                    <div class="search__form-label">GROUP</div>
                    <select name="group" class="search__form-select">
                        <option value="All">All</option>
                        <option value="All-1">All-1</option>
                        <option value="All-2">All-2</option>
                    </select>
                </div>
                <div class="search__form-item">
                    <div class="search__form-label">CATEGORY</div>
                    <select name="CATEGORY" class="search__form-select">
                        <option value="All">All</option>
                        <option value="All-1">All-1</option>
                        <option value="All-2">All-2</option>
                    </select>
                </div>
            </div>
            <div class="search__form-column">
                <div class="search__form-item">
                    <div class="search__form-label">DIN/ISO/ITEM NO <div class="tooltip">
                        <div class="tooltip__content">
                            <span class="tooltip__title">Examples:</span>
                            <ul>
                                <li>DIN 34</li>
                                <li>180</li>
                                <li>3-42</li>
                                <li>TVZ</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <input type="text" class="search__form-input">
                </div>
                <div class="search__form-row">
                    <div class="search__form-item">
                        <div class="search__form-label">DIAMETER (mm)</div>
                        <input type="text" class="search__form-input">
                    </div>
                    <div class="search__form-item">
                        <span class="search__form-label">LENGHT (mm)</span>
                        <input type="text" class="search__form-input">
                    </div>
                </div>
            </div>
            <div class="search__form-column">
                <div class="search__form-item">
                    <div class="search__form-label">SURFACE</div>
                    <select name="surface" class="search__form-select">
                        <option value="All">All</option>
                        <option value="All-1">All-1</option>
                        <option value="All-2">All-2</option>
                    </select>
                </div>
                <div class="search__form-item">
                    <div class="search__form-label">MATERIAL</div>
                    <select name="material" class="search__form-select">
                        <option value="All">All</option>
                        <option value="All-1">All-1</option>
                        <option value="All-2">All-2</option>
                    </select>
                </div>
            </div>
            <div class="search__form-btn">
                <button type="button" class="search__form-clear"><span></span>clear filter</button>
                <button type="button" class="btn">search</button>
            </div>
        </form>
        </div>
    </div>
</div>
