<div class="text-styles">
    <div class="container-fluid">
        <div class="full-img">
            <img src="%=static=%img/content/text-img.jpg" alt="alt">
            <div class="img-description">„Delve 2” Ltd. – leading importer and seller of screws, bolts, nuts, washers,
                wire ropes, chains and other fasteners in Latvia. Company was founded January 24, 1997, and began to
                operate as fasteners retail shop in Valmiera, largest city of region Vidzeme.
            </div>
        </div>
        <h2>H2 We offer a short insight into the growth of Delve 2 during the recent years:</h2>
        <ul>
            <li>In March 2018, shop from Kurzemes pr. 23, was transfered to new address at Mellužu street 15-4, in Riga.</li>
            <li>On February 2018, the warehouse of "Delve 2" was transfered to mellužu street 15-4, Riga.</li>
            <li>On November 2018, "Delve 2" office moved to more spacious premises and changed its legal address.</li>
            <li>In 2017 a shop in Ventspils was moved from Zvaigžņu iela 60 to new, more spacious premises at Saules iela 19, in the center of Ventspils. Read more…</li>
            <li>On 2nd of May 2017 new store has been opened in Daugavpils, Maza darza 5. Read more…</li>
            <li>By January 2017, we have become the exclusive distibutor of MUNGO production in Latvia. Read more…</li>
        </ul>
        <ol>
            <li>In March 2018, shop from Kurzemes pr. 23, was transfered to new address at Mellužu street 15-4, in Riga.</li>
            <li>On February 2018, the warehouse of "Delve 2" was transfered to mellužu street 15-4, Riga.</li>
            <li>On November 2018, "Delve 2" office moved to more spacious premises and changed its legal address.</li>
            <li>In 2017 a shop in Ventspils was moved from Zvaigžņu iela 60 to new, more spacious premises at Saules iela 19, in the center of Ventspils. Read more…</li>
            <li>On 2nd of May 2017 new store has been opened in Daugavpils, Maza darza 5. Read more…</li>
            <li>By January 2017, we have become the exclusive distibutor of MUNGO production in Latvia. Read more…</li>
        </ol>
        <h2>table</h2>
        <div class="table-wrap">
        <table>
            <thead>
            <tr>
                <td>ARTICLE </td>
                <td>DESCRIPTION</td>
                <td>PACK</td>
                <td>QUANTITY</td>
                <td>PACK</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>DIN 316</td>
                <td><strong>WING SCREWS, M4X10, ZN</strong></td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
            </tr>
            <tr>
                <td>DIN 316</td>
                <td><strong>WING SCREWS, M4X10, ZN</strong></td>
                <td>100</td>
                <td>1100</td>
                <td>100</td>
            </tr>
            <tr>
                <td>DIN 316</td>
                <td><strong>WING SCREWS, M4X10, ZN</strong></td>
                <td>100</td>
                <td>10000</td>
                <td>100</td>
            </tr>
            </tbody>
        </table>
        </div>
        <h3>H3 Photo with text</h3>
        <img src="%=static=%img/content/text-img-2.jpg" alt="alt" class="img-left">
        <p>The company is currently offering its customers a professional service and the widest range of screws, wire ropes and different fastenings in seven specialized stores in Riga, Valmiera, Ventspils, Liepāja and the most modern and the largest screw and fastening warehouse in Latvia. While attending to the convenience of every customer, we are continuing to expand our trade network.</p>
        <p>Though the available product range mainly features standard products, it is also possible to deliver products that have been produced according to the customer’s drawings or samples.</p>
        <p>We are developing cooperation with the most significant and trustworthy production and wholesale companies by constantly increasing our offered product range. We provide notable discounts for loyal customers, professional advice, and a kind and fast service.</p>
    </div>
</div>
